.test-006 {
  .my-bg-color-A {
    background: yellowgreen;
  }
  .my-bg-color-B {
    background: rgb(216, 72, 5);
  }
  .my-border-blue {
    border: 3px solid blue;
    height: 5cm;
    width: 10cm;
  }
}
