
<section class="test-001" :style="{ 'margin-top': '1cm' }">
  <h1 class="title-font-style">test-001 Component - 測試 v-if & v-for</h1>

  <button type="button" class="btn btn-primary" :class="{'margin-around':true}" @click="doShowAll($event)">顯示所有遊戲</button>

  <b> {{ '{' + '{isShowing}' + '}' }}  = {{ isShowing }}</b>

  <table class="table table-sm" border="1">
    <thead>
      <tr class="table-info">
        <th scope="col" style="width:2%">#</th>
        <th scope="col">遊戲名稱</th>
        <th scope="col">售價</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item , indexFuck) in games"  v-if="isShowing == true">
        <th scope="row">{{ indexFuck + 1 }}</th>
        <td>{{ item.gameName }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </table>

</section>

