<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">

        <!-- 至首頁的路由 -->
        <router-link :to="{ path : '/' }">
          <p style="color:red;">to 首頁</p>
        </router-link>

        <li class="active">
            <a href="#practice1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">練習區 1</a>
            <ul class="collapse list-unstyled" id="practice1">
                <li>
                    <!-- <a href="#">Home 1</a> -->
                    <router-link :to="{ path : '/practice/test001' }" tag="a">
                      v-for 與 v-if
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ path : '/practice/test002' }" tag="a">
                      v-model 雙向綁定
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ path : '/practice/test003' }" tag="a">
                      v-on 事件綁定
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ path : '/practice/test004' }" tag="a">
                      vue組件 + for迴圈(父傳子)
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ path : '/practice/test005' }" tag="a">
                      vue組件 ─ 子傳父
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ path : '/practice/test006' }" tag="a">
                      vue組件 ─ 平級互傳
                    </router-link>
                </li>
                <li>
                    <!-- 直接用命名路由指定 -->
                    <router-link :to="{ name : 'test007Fuck' }" tag="a">
                      計算屬性(Computed)
                    </router-link>
                </li>
                <li>
                    <!-- 直接用命名路由指定 -->
                    <router-link :to="{ name : 'test008Fuck' }" tag="a">
                      filter(過濾器)
                    </router-link>
                </li>
                <li>
                    <!-- 直接用命名路由指定 -->
                    <router-link :to="{ name : 'test009Fuck' }" tag="a">
                      vue - for 篩選+每頁筆數
                    </router-link>
                </li>
                <li>
                    <!-- 直接用 to 屬性，不用 :to -->
                    <router-link to="/practice/test010" tag="a">
                      vue - watch 監聽屬性變化
                    </router-link>
                </li>

                <!-- (1)直接用 router-link Render出 li + <a>  (2) 用 :to -->
                <router-link :to="{ path : `/practice/test011` }" tag="li">
                  <a href="javascript:void(0)">vue - 生命週期函數</a>
                </router-link>
            </ul>
        </li>

        <li>
            <a href="#practice2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">練習區 2</a>
            <ul class="collapse list-unstyled" id="practice2">
                <li>
                    <!-- 命名路由 ─ 直接指定到children路由上 -->
                    <router-link :to="{ name : 'jqueryAjax' }" tag="a">
                      jQuery - ajax取資料
                    </router-link>
                </li>
                <li>
                    <!-- Path路由 -->
                    <router-link :to="{ path : '/practice2/test_Es6FetchApi' }" tag="a">
                      ES6 - FetchApi取資料
                    </router-link>
                </li>
                <li>
                    <!-- 命名路由 ─ 直接指定到children路由上 -->
                    <router-link :to="{ name : 'axiosApi' }" tag="a">
                      Vue官方推薦 - axios取資料
                    </router-link>
                </li>
                <li>
                    <!-- 命名路由 ─ 直接指定到children路由上 -->
                    <router-link :to="{ name : 'axiosApiWithFilter' }" tag="a">
                       axios取資料 - filter - limitTo
                    </router-link>
                </li>

            </ul>
        </li>

        <li>
            <a href="#practice3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">練習區 3</a>
            <ul class="collapse list-unstyled" id="practice3">

                <li>
                    <!-- 命名路由 ─ 直接指定到children路由上 -->
                    <router-link tag="a" :to="{ name : 'axiosApiRouterParam' ,  params: { queryCityId : '9' , empId: '30678', empName: 'Roger' , functionName : 'axios取資料 + PATH 路由參數' } }">
                       axios取資料 + PATH 路由參數
                    </router-link>
                </li>

                <!-- (1)直接用 router-link Render出 li + <a>  (2) 用 :to -->
                <router-link tag="li" :to="{ name : 'axiosApiRouterParam' ,  query: { queryCityId : '11' , deptId : 7788 , deptName : '國防部' , functionName : 'axios取資料 + query 路由參數' } }">
                  <a href="javascript:void(0)"> axios取資料 + query 路由參數 </a>
                </router-link>

                <li>
                  <!-- (帶參數寫法 (A)) -->
                  <router-link tag="a" :to="{ path :'/practice3/test_axios_router_props/2/5566/LeBron/axios取資料 + PATH 路由參數 + props(帶參數寫法 (A))'}">
                    axios取資料 + PATH 路由參數 + props(帶參數寫法 (A))
                  </router-link>
                </li>

                <li>
                  <!-- (帶參數寫法 (B)) -->
                  <router-link tag="a" :to="{ name : 'axiosApiRouterParamProps' ,  params: { myQueryCityId : '3' , empId: '5566', empName: 'LeBron' , functionName : 'axios取資料 + PATH 路由參數 + props(帶參數寫法 (B))' } }">
                    axios取資料 + PATH 路由參數 + props(帶參數寫法 (B))
                  </router-link>
                </li>

                <li>
                  <!-- (帶參數寫法 (C)) -->
                  <router-link tag="a" to="/practice3/test_axios_router_props/4/9999/Kobe/axios取資料 + PATH 路由參數 + props(帶參數寫法 (C))">
                    axios取資料 + PATH 路由參數 + props(帶參數寫法 (C))
                  </router-link>
                </li>

                <li>
                  <!-- (帶參數寫法 (D)) -->
                  <router-link tag="a" :to="{ path : '/practice3/test_axios_router_props/5/55688/Iverson/axios取資料 + PATH 路由參數 + props(帶參數寫法 (D))' }">
                    axios取資料 + PATH 路由參數 + props(帶參數寫法 (D))
                  </router-link>
                </li>

                <li>
                  <router-link tag="a" :to="{ name : 'axiosApiRouterParamProps' ,  query: { myQueryCityId : '6' , deptId: '5566', deptName: '內政部' , functionName : 'axios取資料 + query 路由參數' } }">
                    axios取資料 + query 路由參數 + props
                  </router-link>
                </li>

                <li>
                  <router-link tag="a" to="/practice3/test_axios_router_props?myQueryCityId=7&deptId=9999&deptName=交通部&functionName=axios取資料 + PATH 路由參數(直接串queryString)">
                    axios取資料 + query 路由參數 + props ( ? 直接串queryString )
                  </router-link>
                </li>

            </ul>
        </li>


        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>
