
<section class="home-page">
  <h1 :class="{'bgcolor-orange': true}">Home Page</h1>

  <img src="static/assest/img/vue-logo.png"> <!-- 從static引用圖片 -->
  <img src="@/assets/img/vue-logo.png"><!-- 從assets引用圖片 -->
  <!-- <img src="@/assets/img/webpack打包vue.jpg"> --><!-- 從assets引用圖片 -->

  <h1 :class="{ 'title-font-style': true }">參考資料</h1>
  <table class="table table-hover" border="2" style="text-align:center">
    <thead>
      <tr class="table-primary">
        <th scope="col" style="width:2%;">#</th>
        <th scope="col" style="width:49%;">說明</th>
        <th scope="col" style="width:49%;">網址</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>萬用路由</td>
        <td style="text-align:left">
            https://kknews.cc/tech/oblvkm.html
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>vue-cli3静态资源static assets项目结构</td>
        <td style="text-align:left">
            <ul>
              <li>https://segmentfault.com/q/1010000009842688</li>
              <li>https://segmentfault.com/a/1190000014456796</li>
              <li>https://juejin.im/post/5a75c8ce5188257a624c9ff1</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>萬用路由</td>
        <td style="text-align:left">
          <ul>
            <li>https://github.com/vuejs/vue-router/issues/866</li>
            <li>https://github.com/vuejs/vue-router/blob/dev/examples/redirect/app.js#L53-L54</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Vue路由</td>
        <td style="text-align:left">
          <ul>
            <li>https://router.vuejs.org/zh/guide/essentials/nested-routes.html</li>
            <li>https://ithelp.ithome.com.tw/articles/10197778</li>
            <li>https://router.vuejs.org/zh/api/#to</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>HTML5 history 模式下使用 base 选项</td>
        <td style="text-align:left">https://router.vuejs.org/zh/api/</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Vue.js入門(小馬 Youtube)</td>
        <td  style="text-align:left">https://www.youtube.com/watch?v=WabgjU4gELI&list=PLu3b11EPo_MfxhGAgO1LTJuDLTMCHIGLv</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>'v-for' directives require 'v-bind:key' directives.錯誤的解決辦法</td>
        <td style="text-align:left">
          <ul>
            <li>https://www.cnblogs.com/zhouyangla/p/7081077.html</li>
            <li>https://github.com/ElemeFE/element/issues/4137</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Vue.js: 屬性綁定 v-bind、Class 與 Style 綁定</td>
        <td style="text-align:left">
            https://cythilya.github.io/2017/04/21/vue-v-bind-class-and-style/
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>使用Vue.prototype，註冊Global共用function</td>
        <td style="text-align:left">
            https://yuugou727.github.io/blog/2017/11/25/vue-global-methods/
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Vue - 生命週期Hook</td>
        <td style="text-align:left">
            <ul>
              <li>https://ithelp.ithome.com.tw/articles/10188213</li>
              <li>https://segmentfault.com/a/1190000008010666</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Watch ─ 監聽屬性</td>
        <td style="text-align:left">
          <ul>
            <li>https://ithelp.ithome.com.tw/articles/10187420</li>
            <li>https://ithelp.ithome.com.tw/articles/10194435</li>
            <li>https://cythilya.github.io/2017/04/15/vue-watch/</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Vue – 關於 v-html 的用法解說</td>
        <td style="text-align:left">
            https://jsnwork.kiiuo.com/archives/2613/vue-%E9%97%9C%E6%96%BC-v-html-%E7%9A%84%E7%94%A8%E6%B3%95%E8%A7%A3%E8%AA%AA/
        </td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Vue中容易被忽略的知识点</td>
        <td style="text-align:left">
            https://juejin.im/entry/5a62b26b6fb9a01c9405ef7d
        </td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td> Vue.set() == this.$set </td>
        <td style="text-align:left">
            https://www.jianshu.com/p/358c1974d9a5
        </td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>ES6 原生 Fetch 遠端資料方法</td>
        <td style="text-align:left">
            <ul>
              <li>https://ithelp.ithome.com.tw/articles/10194107</li>
              <li>https://ithelp.ithome.com.tw/articles/10193346</li>
              <li>https://segmentfault.com/a/1190000007019545</li>
              <li>https://wcc723.github.io/javascript/2017/12/28/javascript-fetch/</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>Vue.js 21 - Ajax取得資料 - Axios篇</td>
        <td style="text-align:left">
            <ul>
              <li>https://ithelp.ithome.com.tw/articles/10188510</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>npm安装webpack，前端工程中axios is not defined解决办法</td>
        <td style="text-align:left">
            <ul>
              <li>https://blog.csdn.net/qinkaiyuan94/article/details/79159308</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>[Components] 元件組合與溝通</td>
        <td style="text-align:left">
            <ul>
              <li>https://ithelp.ithome.com.tw/articles/10196032</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>組件溝通 event bus</td>
        <td style="text-align:left">
            <ul>
              <li>https://dotblogs.com.tw/wasichris/2017/03/05/181549</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>[VueJS 2]拿掉了內建的 filterBy、limitBy，如何達到分頁、過濾功能</td>
        <td style="text-align:left">
            <ul>
              <li>https://kuro.tw/posts/2017/05/30/VueJS-V2-%E5%9C%A8-v-for-%E5%88%97%E8%A1%A8%E5%AE%8C%E6%88%90%E5%88%86%E9%A0%81%E5%8A%9F%E8%83%BD/</li>
            </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">18</th>
        <td>[Vue] filter</td>
        <td style="text-align:left">
            <ul>
              <li>【Summer】 https://cythilya.github.io/2017/05/23/vue-filter/</li>
              <li>【vue limit】 https://gist.github.com/slouma2000/9aea7cbddf4ec0ae19037f04a9053da7</li>
              <li>【Filters vs Computed】 https://ithelp.ithome.com.tw/articles/10191948</li>
              <li>【拆出filter.js】 https://stackoverflow.com/questions/47004702/how-to-add-a-bunch-of-global-filters-in-vue-js</li>
              <li>【如何在 v-html 中使用 filters】 https://www.jianshu.com/p/29b7eaabd1ba</li>
            </ul>
        </td>
      </tr>
    </tbody>
  </table>


  <h2>@@Collapsible Sidebar Using Bootstrap 4</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="line"></div>

  <h2>Lorem Ipsum Dolor</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="line"></div>

  <h2>Lorem Ipsum Dolor</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="line"></div>

  <h3>Lorem Ipsum Dolor</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</section>

