<!-- <section class="my-flot">
  <h1 class="my-bg-color">my-flot Component</h1>
  <h1 class="my-bg-color">my-flot Component</h1>
  <h1 class="my-bg-color">my-flot Component</h1>
</section> -->

<!-- Page content-->
<section>
  <h1 :class="{'my-bg-color-pink' : true}">My-Flot Component</h1>


  <!-- 載入 BootStrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <button type="button" class="btn btn-outline-danger" @click="toHomePage($event)" >回首頁</button>
  <button type="button" class="btn btn-outline-danger" v-on:click="toCardPage($event)" >到Cards(不帶參數)</button>
  <button type="button" class="btn btn-outline-primary" @click="toCardPage_with_queryParam($event)" >到Cards(帶query參數)</button>
  <button type="button" class="btn btn-outline-warning" @click="toCardPage_with_pathParam($event)" >到Cards(帶path參數)</button>

  <router-link :to="{ name: 'cardsPage' }" replace>
    <button type="button" class="btn btn-outline-info">到Cards( <b class="my-color-red">標籤式</b>，帶path參數 , replace)</button>
  </router-link>

  <button type="button" class="btn btn-outline-info" @click="toCardPage_with_pathParam_replace($event)" >到Cards(<b class="my-color-red">編程式</b>，帶path參數 , replace)</button>

  <div class="container-fluid">
    <!-- START row-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Area</div>
          </div>
          <div class="card-body">
            <div id="area-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Area Spline</div>
          </div>
          <div class="card-body">
            <div id="spline-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Bar</div>
          </div>
          <div class="card-body">
            <div id="bar-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->
    <!-- START row-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Pie</div>
          </div>
          <div class="card-body">
            <div id="pie-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Donut</div>
          </div>
          <div class="card-body">
            <div id="donut-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Bar - Stacked</div>
          </div>
          <div class="card-body">
            <div id="barstacked-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->
    <!-- START row-->
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Real Time</div>
          </div>
          <div class="card-body">
            <div id="realtime-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Line</div>
          </div>
          <div class="card-body">
            <div id="line-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->
  </div>
</section>
<!-- Page footer-->
