<section class="home-page">
  <h1>home-page Component</h1>

  <h2 class="emphasise">Vue npm 指令</h2>

  <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">說明</th>
          <th scope="col">指令</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td># install dependencies</td>
          <td>npm install</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td># serve with hot reload at localhost:8080</td>
          <td>npm run dev</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td># build for production with minification</td>
          <td>npm run build</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td># build for production and view the bundle analyzer report</td>
          <td>npm run build --report</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td># 安裝 sass-loader</td>
          <td>npm install sass-loader node-sass --save-dev</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td># 安裝 axios 查後端資料元件</td>
          <td>npm install axios</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td># axios全攻略</td>
          <td>https://ykloveyxk.github.io/2017/02/25/axios%E5%85%A8%E6%94%BB%E7%95%A5/</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td># axios影片</td>
          <td>https://www.youtube.com/watch?v=mEjVUt_rsKs&t=2186s</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td># Vue2.0 axios报错： Cannot read property 'protocol' of undefined</td>
          <td>https://blog.csdn.net/panyang01/article/details/73203276</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td># 調整 npm run dev 啟動時的port</td>
          <td>config/index.js中，可以調整port</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td># 產生隨機測試資料的API</td>
          <td>https://randomuser.me/</td>
        </tr>
      </tbody>
    </table>

</section>
